        {% assign author = site.data.authors[page.author] %}
            <div class="notepad-author-info">
                <div class="row">
                    <section class="notepad-post-author small-12 columns">
                        
                            <img src="{{site.url}}/images/{{ author.avatar }}" class="notepad-post-author-avatar" alt="{{ author.name }}'s photo">
                        
                        
                            <span class="author-label">Author</span>
                            <h1>{{ author.name }}</h1>
                        
                            <p>{{ author.description }}</p>
                        
                            <p>
                                <a href="mailto:{{ author.email }}" class="author-website">{{ author.email }}</a>
                                
                                {% if author.github %}
                                    &nbsp; &nbsp; &nbsp;
                                    <a class="github-icon" target=_blank href="{{ author.github }}" title="{{ author.name }} on Github">
                                        github
                                    </a>
                                {% endif %}

                                {% if author.facebook %}
                                    &nbsp; &nbsp; &nbsp;
                                    <a class="facebook-icon" target=_blank href="{{ author.facebook }}" title="{{ author.name }} on Facebook">
                                        facebook
                                    </a>
                                {% endif %}
                                
                            </p>

                        
                        
                    </section>
                </div>
            </div>